header {
    background-color: #D4AC0D;
    text-align: center;
    padding: 1rem;
    border: 1px solid black;
}

body {
    background-color: #87CEFA;
    color: black;

}

.filter{
    position: absolute;
    bottom: 0;
}

#darkmode {
    position: absolute;
    right: 15px;
    top: 50px;
}

.satuan {
    display: flex;
    width: 100%;
    gap: 0.1px;
}

.satuan > section {
    flex: 1;
}

body.dark-mode {
    background-color: #191970;
    color: white;
}
.hide{
    display: none;
}

.Weather{
    border: 1px solid black;
    padding: 15px;
    min-height: 190px;
}

.kutip {
    border: 1px solid black;
    padding: 15px;
    min-height: 190px;
}

.bgtugas{
    border: 1px solid black;
    padding: 15px;
    min-height: 210px;
    position: relative;
}

.catatan {
    border: 1px solid black;
    padding: 15px;
    min-height: 210px;
}
